########################################################################
# File managed by Salt at <{{ source }}>.
# Your changes will be overwritten.
########################################################################

{%- from "keepalived/macro.jinja" import print_config %}
{%- set sections = ['global_defs', 'vrrp_sync_group', 'vrrp_script', 'vrrp_instance', 'virtual_server'] %}
{%- for section in sections %}
{{ print_config({ section: config[section]|d({}) }) }}
{%- endfor %}
